<%- include('master', 
{
  title: title,
  body : `
  <h1> Selamat datang di website pariwisata palembang </h1>
  <p>Ini adalah halaman website official pariwisata palembang, 
    anda dapat memesan paket wisata pada website ini.
     selamat menikmati keindahan wisata di palembang.</p>
  `
}) 

%>